nav .my-name {
    font-size: 1.6em;
    margin-left: 3em;
}

#scrollToTop {
    background-color: #6A5ACD; /* This is a shade of purple */
    border: none;
    border-radius: 50%; /* This makes it circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    color: #FFFFFF; /* Text/icon color */
    cursor: pointer;
    display: none; /* Initially hidden until scrolled */
    font-size: 24px;
    height: 50px;
    opacity: 0.8;
    outline: none; /* Removes focus outline */
    position: fixed; /* Keeps it positioned on the screen */
    right: 10px;
    bottom: 10px;
    width: 50px;
    z-index: 1000; /* Ensures it's above most other elements */
}

#scrollToTop:hover {
    background-color: #9370DB; /* A slightly lighter purple for hover */
    opacity: 1; /* Full opacity on hover */
}

#scrollToTop:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Subtle change in shadow for click effect */
    transform: translateY(2px); /* Moves it down slightly for a click effect */
}


.toggle-switch {
    width: 3.5rem;
    height: 1.75rem;
    position: relative;
    display: inline-block;
    margin-top: 0.75rem;
}

.toggle__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #818181;
    border-radius: 1rem;
    transition: background-color 0.2s;
}

.toggle__dot {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
    left: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#mode-switcher:checked + label .toggle__line {
    background-color: #60A5FA;
}

#mode-switcher:checked + label .toggle__dot {
    transform: translateX(1.5rem) translateY(-15%);
}

.bold-title {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

body.dark-mode * {
    background-color: #111827;
    color: #f1f5f9;
}

body.dark-mode .toggle__dot {
    background-color: #ffffff;
}

body.dark-mode #navbar a {
    color: #ffffff;
}

body.dark-mode #navbar a:hover {
    color: #60A5FA;
}

body.dark-mode a:not(#navbar a) {
    color: #60A5FA;
}

body.dark-mode .skill-card:hover {
    background-color: #111827;
    transform: translateY(-1rem) scale(1.05);
}

body.dark-mode .about-me-section {
    background-color: #111827;
}

body.dark-mode .contact-section {
    background-color: #111827;
}

body.dark-mode {
    padding-bottom: 0px;
    background-color: #111827;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    display: block;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

#skills {
    padding-top: 100px;
}

.skill-card {
    transition: transform .3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-1rem) scale(1.05);
}

.skill-card i, .skill-card svg {
    color: #4F46E5; 
    fill: #4F46E5; 
}

#navbar a.active {
    color:#4F46E5;
    border-bottom: 2px solid #4F46E5;
}

#navbar a {
    font-family: 'Roboto Mono', monospace;
    margin-right: 24px;
    padding: 12px;
}

body.dark-mode #navbar a.active {
    color: #60A5FA;
    border-bottom: 2px solid #60A5FA;
}

.lowered-link {
    position: relative;
    top: 4px;
}

#transition-layer {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.20s ease-in-out;
    visibility: hidden;
}

#transition-layer.uncover {
    transform: scaleY(0);
    transform-origin: 0% 50%;
}

body.dark-mode #transition-layer {
    background-color: #111827;
}


.icon-binary {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    display: none;
}   


.light-mode-icon {
    display: inline-block;
}

.dark-mode-icon{
    height: 2.5em;
    width: 2.5em;
}

@media (prefers-color-scheme: dark) {
    .light-mode-icon {
        display: none;
    }

    .dark-mode-icon {
        display: inline-block;
    }
}

.text-2xl {
    margin-top: 0.6em;
}
.about-me-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1em;
}



.work {
    padding-top: 100px;
  }
  
.work h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.work p {
    font-size: 1.6rem;
    line-height: 1.5;
}
  
  .work .project {
    width: 300px;
    margin: 0 20px;
  }
  
  .work .project .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  
  .work .project .info {
    padding: 10px;
  }
  
  .work .project .info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .work .project .info p {
    font-size: 1.4rem;
  }
  
  .work .project .info a {
    color: #007bff;
    text-decoration: none;
  }

  .project1-logo {
    max-width: 100%;
    max-height: 150px; 
    object-fit: cover;
}

.project1-text {
    margin-right: 10px;  
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card-max-width {
    max-width: 800px;  
    margin: auto;
}

.large-card {
    min-height: 400px;
}

.border-rounded-lg {
    border-radius: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.border-rounded-lg:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

a.text-indigo-500:hover {
    text-decoration: underline;
}


body.dark-mode .border-rounded-lg:hover {
    box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.2); 
    transform: translateY(-5px);  
}


body.dark-mode .border-rounded-lg:hover .mb-4  {
    background-color: rgba(255, 255, 255, 0.1); 
}


p {
    font-family: 'Roboto Mono', monospace;
}

.san-serif-font p {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.custom-padding {
    margin-top: -4.5em; 
}

.typing-effect .line {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 2.5em;  /* Adjust according to your new font size */
    font-size: 1.5em;  /* Increase font size */
}

.typing-effect .active-cursor,
.typing-effect .solid-cursor {
    margin-right: -0.15em;  /* compensate for the width of the cursor */
}

.typing-effect .active-cursor::after,
.typing-effect .solid-cursor::after {
    content: '';
    display: inline-block;
    vertical-align: middle; 
    height: 1.5em;  /* Increased height */
    width: 0.2em;   /* Increased width */
    margin-left: 0.12em; /* space between text and cursor */
    background-color: currentColor;
    color: #4F46E5;  /* Color for light mode */
}

.typing-effect .active-cursor::after {
    animation: blink-caret-light 1s infinite;  /* Using light mode keyframe by default */
}

body.dark-mode .typing-effect .active-cursor::after {
    animation: blink-caret-dark 1s infinite;  /* Using dark mode keyframe */
}

body.dark-mode .typing-effect .active-cursor::after,
body.dark-mode .typing-effect .solid-cursor::after {
    background-color: gold;  /* Make the solid cursor gold in dark mode */
    color: gold;  /* Make the blinking cursor gold in dark mode */
}

@keyframes blink-caret-light {
    from, to { background-color: transparent; }
    50% { background-color: #4F46E5; }  /* Light mode color */
}  

@keyframes blink-caret-dark {
    from, to { background-color: transparent; }
    50% { background-color: gold; }  /* Dark mode color */
}

/* Initial state of elements (not visible) */
.fade-in {
    opacity: 0;
    transform: translateY(100px);
}

/* Animation sequence for fading in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation when the element is in the viewport */
.active {
    animation-name: fadeIn;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


/* Initial state for slide-in from the left */
.slide-in-left {
    opacity: 0;
    transform: translateX(-100%);
}

/* Animation sequence for slide-in from the left */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the slide-in from the left animation when the element is in the viewport */
.slide-in-left.active {
    animation-name: slideInLeft;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Initial state for slide-in from the right */
.slide-in-right {
    opacity: 0;
    transform: translateX(100%);
}

/* Animation sequence for slide-in from the right */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the slide-in from the right animation when the element is in the viewport */
.slide-in-right.active {
    animation-name: slideInRight;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.force-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


