


nav .my-name {
    font-size: 1.6em;
    margin-left: 3em;
}

#scrollToTop {
    background-color: #6A5ACD; 
    border: none;
    border-radius: 50%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    color: #FFFFFF; 
    cursor: pointer;
    display: none; 
    font-size: 24px;
    height: 50px;
    opacity: 0.8;
    outline: none;
    position: fixed; 
    right: 10px;
    bottom: 10px;
    width: 50px;
    z-index: 1000; 
}

#scrollToTop:hover {
    background-color: #9370DB; 
    opacity: 1; 
}

#scrollToTop:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}


.toggle-switch {
    width: 3.5rem;
    height: 1.75rem;
    position: relative;
    display: inline-block;
    margin-top: 0.75rem;
}

.toggle__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #818181;
    border-radius: 1rem;
    transition: background-color 0.2s;
}

.toggle__dot {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
    left: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#mode-switcher:checked + label .toggle__line {
    background-color: #60A5FA;
}

#mode-switcher:checked + label .toggle__dot {
    transform: translateX(1.5rem) translateY(-15%);
}

.bold-title {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

body.dark-mode * {
    background-color: #111827;
    color: #f1f5f9;
}

body.dark-mode .toggle__dot {
    background-color: #ffffff;
}

body.dark-mode #navbar a {
    color: #ffffff;
}

body.dark-mode #navbar a:hover {
    color: #60A5FA;
}

body.dark-mode a:not(#navbar a) {
    color: #60A5FA;
}

body.dark-mode .skill-card:hover {
    background-color: #111827;
    transform: translateY(-1rem) scale(1.05);
}

body.dark-mode .about-me-section {
    background-color: #111827;
}

body.dark-mode .contact-section {
    background-color: #111827;
}

body.dark-mode {
    padding-bottom: 0px;
    background-color: #111827;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    display: block;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

#skills {
    padding-top: 100px;
}

.skill-card {
    transition: transform .3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-1rem) scale(1.05);
}

.skill-card i, .skill-card svg {
    color: #4F46E5; 
    fill: #4F46E5; 
}

#navbar a.active {
    color:#4F46E5;
    border-bottom: 2px solid #4F46E5;
}

#navbar a {
    font-family: 'Roboto Mono', monospace;
    margin-right: 24px;
    padding: 12px;
}

body.dark-mode #navbar a.active {
    color: #60A5FA;
    border-bottom: 2px solid #60A5FA;
}

.lowered-link {
    position: relative;
    top: 4px;
}

#transition-layer {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.20s ease-in-out;
    visibility: hidden;
}

#transition-layer.uncover {
    transform: scaleY(0);
    transform-origin: 0% 50%;
}

body.dark-mode #transition-layer {
    background-color: #111827;
}


.icon-binary {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    display: none;
}   


.light-mode-icon {
    display: inline-block;
}

.dark-mode-icon{
    height: 2.5em;
    width: 2.5em;
}

@media (prefers-color-scheme: dark) {
    .light-mode-icon {
        display: none;
    }

    .dark-mode-icon {
        display: inline-block;
    }
}

.text-2xl {
    margin-top: 0.6em;
}
.about-me-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1em;
}



.work {
    padding-top: 100px;
  }
  
.work h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.work p {
    font-size: 1.6rem;
    line-height: 1.5;
}
  
  .work .project {
    width: 300px;
    margin: 0 20px;
  }
  
  .work .project .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  
  .work .project .info {
    padding: 10px;
  }
  
  .work .project .info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .work .project .info p {
    font-size: 1.4rem;
  }
  
  .work .project .info a {
    color: #007bff;
    text-decoration: none;
  }

  .project1-logo {
    max-width: 100%;
    max-height: 150px; 
    object-fit: cover;
}

.project1-text {
    margin-right: 10px;  
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card-max-width {
    max-width: 800px;  
    margin: auto;
}

.large-card {
    min-height: 400px;
}

.border-rounded-lg {
    border-radius: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.border-rounded-lg:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

a.text-indigo-500:hover {
    text-decoration: underline;
}


body.dark-mode .border-rounded-lg:hover {
    box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.2); 
    transform: translateY(-5px);  
}


body.dark-mode .border-rounded-lg:hover .mb-4  {
    background-color: rgba(255, 255, 255, 0.1); 
}


p {
    font-family: 'Roboto Mono', monospace;
}

.sans-serif-font, .sans-serif-font p {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
    color: #4F46E5;
}


.custom-padding {
    margin-top: -4.5em; 
}

.typing-effect .line {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 2.5em;  
    font-size: 1.5em;  
}

.typing-effect .active-cursor,
.typing-effect .solid-cursor {
    margin-right: -0.15em;  
}

.typing-effect .active-cursor::after,
.typing-effect .solid-cursor::after {
    content: '';
    display: inline-block;
    vertical-align: middle; 
    height: 1.5em;  
    width: 0.2em;   
    margin-left: 0.12em; 
    background-color: currentColor;
    color: #4F46E5;  
}

.typing-effect .active-cursor::after {
    animation: blink-caret-light 1s infinite;  
}

body.dark-mode .typing-effect .active-cursor::after {
    animation: blink-caret-dark 1s infinite;  
}

body.dark-mode .typing-effect .active-cursor::after,
body.dark-mode .typing-effect .solid-cursor::after {
    background-color: gold;  
    color: gold;  
}

@keyframes blink-caret-light {
    from, to { background-color: transparent; }
    50% { background-color: #4F46E5; }  
}  

@keyframes blink-caret-dark {
    from, to { background-color: transparent; }
    50% { background-color: gold; }  
}


.fade-in {
    opacity: 0;
    transform: translateY(100px);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.active {
    animation-name: fadeIn;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



.slide-in-left {
    opacity: 0;
    transform: translateX(-100%);
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.slide-in-left.active {
    animation-name: slideInLeft;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.slide-in-right {
    opacity: 0;
    transform: translateX(100%);
}


@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.slide-in-right.active {
    animation-name: slideInRight;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

a.contact-link-effect {
    position: relative;
    overflow: hidden;
}

a.contact-link-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #4F46E5; 
    transition: all 0.3s;
}

a.contact-link-effect:hover::after {
    left: 0;
    width: 100%;
}




.experience-card {
    transition: all 0.3s ease;
    height: 80px;
    background-color: #430d79;
    color: #f1f5f9; 
}

.experience-card:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}


.experience-card.expanded {
    height: auto;
    background-color: #740cdc;
}


.experience-card.expanded h3, 
.experience-card.expanded p, 
.experience-card.expanded .text-gray-700 {
    color: inherit; 
}

.toggle-experience i {
    transition: transform 0.3s ease;
}


.experience-details {
    gap: 16px; 
}

body.dark-mode .experience-card {
    background-color: #430d79;
}


body.dark-mode .experience-card h3,
body.dark-mode .experience-card p {
    color: #f1f5f9;  
}


body.dark-mode .experience-card.expanded {
    background-color: #740cdc;
}


body.dark-mode .experience-card.expanded > * {
    background-color: #740cdc;
}


body.dark-mode .experience-card.expanded .experience-details * {
    background-color: #740cdc;
    color: #f1f5f9;  
}

.experience-card h3.bold-title {
    color: #f1f5f9;  
}




body.dark-mode .experience-card {
    background-color: #430d79; 
   
}


body.dark-mode .experience-card.expanded {
    background-color: #740cdc;
    color: #f1f5f9; 
}

body.dark-mode .experience-card * {
    background-color: inherit;
    color: inherit; 
}

body.dark-mode .experience-card.expanded .toggle-experience i.fa-minus {
    transform: rotate(0); 
}


@media (min-width: 1024px) { 
    body {
        padding-top: 0px !important; 
    }
}

@media (max-width: 769px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

   
    nav#navbar {
        padding: 0 5px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #home-link {
        font-size: 1.1rem; 
        margin-left: 0; 
        padding-left: 5px; 
    }

    .toggle-switch {
        display: flex;
        align-items: center;
        margin-left: 10px; 
        margin-bottom: 30px;
        margin-right: 5px;
    }

    #mobile-menu {
        display: none; 
        position: absolute;
        top: 77%; 
        left: 0;
        right: 0;
        background-color: #fff; 
        z-index: 1000; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
        background-color: #ffffff;
    }

    #mobile-menu a {
        display: block;
        padding: 15px;
        color: #4f46e5; 
        border-bottom: 1px solid #333; 
        text-align: left;
        font-size: calc(1rem + 0.5vw);
        padding: 20px 15px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    body.dark-mode #mobile-menu {
        background-color: #111827; 
        border: none; 
    }
    
    #mobile-menu a:last-child {
        border-bottom: none;
    }

     #home h2 {
        font-size: 1.8rem; 
        margin: 0;
        padding: -30px; 
        margin-bottom: 10px;
        text-align: left; 
    }

    #home .typing-effect .line {
        font-size: 1rem; 
        margin: 0;
        padding: 0 5px; 
        margin-left: -25px;
        text-align: left; 
        display: block;

        overflow: visible;
    }

    #home .container .w-3/5 {
        width: 100%; 
        padding: 0; 
    }

    #home .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    #home .container .w-3/5 {
        order: 1; 
    }

    #home .container .w-2/5 {
        order: 2; 
        width: 100%; 
        padding: 0; 
    }

    #home .container .w-2/5 img {
        width: 100%; 
        height: auto; 
        margin-top: 15px; 
    }

    .container.mx-auto.max-w-7xl.px-10.py-40.flex.items-center {
        flex-direction: column;
    }

    .w-2/5 img {
        width: 1000px; 
        margin: 20px auto; 
    }

    .w-3/5.pr-10 {
        width: 100%; 
        padding-right: 0; 
        text-align: center; 
    }
}


