{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-16 pt-20 text-center contact-section">
    <h1 class="text-4xl font-bold mb-6">Contact Me ☎️</h1>

    <a href="mailto:michaeltranb@outlook.com" class="text-2xl text-indigo-600 hover:underline">
      michaeltranb@outlook.com
    </a>
    <div class="mt-8">
        <a href="https://www.linkedin.com/in/michaeltranb" target="_blank" class="text-2xl text-indigo-600 mx-4 hover:text-indigo-800">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/michaeltran_dev" target="_blank" class="text-2xl text-indigo-600 mx-4 hover:text-indigo-800">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</div>
{% endblock %}
