{% extends "base.html" %}

{% block content %}

<div class="container mx-auto max-w-7xl px-10 py-40">
    <div class="w-full mb-8">
        <h2 class="text-5xl font-orbitron text-indigo-600 bold-title mb-8">Intro to Generative AI</h2>
        <p class="font-orbitron text-lg pb-8">
            Over a span of 12 weeks, I introduced my advanced Python students from the 8th grade to Generative AI conceepts. We've gone through the basics of NLP, linear regression, and even built a chatbot. Check out some of the course material I've created for this class below!
        </p>
    </div>

    <!-- Course materials section -->
    <div class="grid grid-cols-1 gap-4 mt-8">
        {% for material in course_materials %}
        <div class="border border-gray-200 rounded-lg shadow flex flex-col md:flex-row overflow-hidden">
            <!-- Image on the left -->
            <div class="md:w-1/2">
                <img src="{{ material.image }}" alt="{{ material.title }}" class="w-full h-full object-cover">
            </div>
            <!-- Content on the right -->
            <div class="p-4 md:w-1/2 flex flex-col justify-center">
                <div>
                    <h4 class="text-lg text-gray-900 font-semibold bold-title mb-2">{{ material.title }}</h4>
                    <p class="text-md mb-3">{{ material.description }}</p>
                </div>
                <a href="{{ material.link }}" class="text-indigo-500 inline-flex items-center mt-2 text-sm">View Material
                    <i class="fas fa-eye ml-2"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
