{% extends "base.html" %}

{% block content %}

<section id="project-detail" class="py-20 sm:py-40">
    <div class="container mx-auto max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-7xl px-4 sm:px-6 md:px-8 lg:px-10">
        <div class="flex flex-col lg:flex-row items-start gap-10 lg:gap-20">
            <div class="w-full lg:w-1/2">
                <h2 class="text-6xl sm:text-7xl lg:text-8xl font-bold font-orbitron text-indigo-600 mt-8 mb-20">Nexclap 2.0</h2>
                <p class="sans-serif-font text-base md:text-lg mb-4">
                    Nexclap is an eLearning platform partnered with Siliconvalley4u that offers a wide range of courses. I'm excited to be part of the team that's transforming Nexclap into an innovative, AI-powered social network aimed at enhancing recruitment and career development. 
                    Our goal is to create a dynamic space that connects students, job seekers, and recruiters, effectively closing the gap between education and employment.
                </p>
            </div>
            
            <div class="w-full lg:w-1/2">
                <img src="{{ url_for('static', filename='nexclapMockup2.png') }}" alt="Project Screenshot" class="rounded-lg mb-12" style="max-width: 100%; height: auto;">
                <div class="flex flex-row items-start space-x-4"> 
                    <div class="w-1/3 mb-4"> 
                        <hr class="border-t-2 border-gray-700 w-3/4 mb-2"> 
                        <p class="font-bold text-indigo-600 text-lg">Client</p>
                        <p class="text-sm">Nexclap</p>
                    </div>
                    <div class="w-2/3 mb-4"> 
                        <hr class="border-t-2 border-gray-700 w-48 mb-2"> 
                        <p class="font-bold text-indigo-600 text-lg">Technologies</p>
                        <p class="text-sm">Flask, PostgreSQL, <br> Google Cloud</p>
                    </div>
                </div>
                <a href="https://www.nexclap.com/" class="inline-block bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded transition-colors duration-200 mt-0 -ml-4 w-auto">
                    Open Project →
                </a>
            </div>
        </div>

        <div class="w-full px-4 sm:px-10 mt-20 sans-serif-font">
            <img src="{{ url_for('static', filename='nexclap_page1.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5" style="max-width: 100%; height: auto;">
            <p class="sans-serif-font text-base md:text-lg mt-12 mb-12">
                Currently in its early startup phase, Nexclap has already established partnerships with various companies across different sectors in the San Francisco Bay Area. Our vision extends to incorporating career advisors into our platform, enabling users to easily schedule sessions for advice, consulting, and more. 
                Through our strong partnerships, we aim to facilitate direct job placements, enriching our community's career opportunities.
            </p>
            <img src="{{ url_for('static', filename='nexclap_page2.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5" style="max-width: 100%; height: auto;">
        </div>
        <p class="sans-serif-font text-base md:text-lg mb-4">
            On the technical front, I'm working on developing core features such as an in-house chatroom and video conferencing tool, as well as a dashboard and a community-driven social network feed. This setup is designed to facilitate direct interactions between recruiters and students. 
            Moreover, it enables students to showcase their portfolios, and post content or other project work directly to a network of active recruiters.
        </p>
        <p class="sans-serif-font text-base md:text-lg mb-4">
            These tools are designed to  streamline the interactions between career advisors, recruiters, and our users, simplifying the recruitment and career advising process and making it more interactive.
        </p>
        <p class="sans-serif-font text-base md:text-lg mb-4">
            With over 1000 students and current active users ready to participate in our initial launch, we're gearing up to expand our user base and make Nexclap a cornerstone for career development and recruitment.
        </p>
    </div>
</section>




{% endblock %}



<div class="w-4/5 pr-10">
    <h2 class="text-5xl font-bold font-orbitron text-indigo-600 mb-12">Nexclap</h2>
        <p class="font-orbitron text-base mb-4">
            Nexclap is an eLearning platform developed by Siliconvalley4u that offers a wide range of courses. I'm excited to be part of the team that's transforming Nexclap into an innovative, AI-powered social network aimed at enhancing recruitment and career development. 
            Our goal is to create a dynamic space that connects students, job seekers, and recruiters, effectively closing the gap between education and employment.
        </p>
        <p class="font-orbitron text-base mb-4">
            Currently in its early startup phase, Nexclap has already established partnerships with various companies across different sectors in the San Francisco Bay Area. Our vision extends to incorporating career advisors into our platform, enabling users to easily schedule sessions for advice, consulting, and more. Through our strong partnerships, we aim to facilitate direct job placements, enriching our community's career opportunities.
        </p>
        <p class="font-orbitron text-base mb-4">
            Moreover, we're excited about introducing a unique system of badges. These badges serve as certifications or merits, highlighting a user's skills and achievements, thereby increasing their visibility and credibility to potential employers.
        </p>
        <p class="font-orbitron text-base mb-4">
            On the technical front, I'm working on developing core features such as an in-house chatroom, video conferencing, and a dashboard. These tools are designed to streamline the interaction between career advisors, recruiters, and our users, making the process of scheduling appointments and meetings seamless.
        </p>
        <p class="font-orbitron text-base mb-4">
            With over 800 students and active users ready to participate in our initial launch, we're gearing up to expand our user base and make Nexclap a cornerstone for career development and recruitment. Through innovation and technology, we're on a mission to revolutionize how people connect, learn, and advance in their careers.
        </p>
        <a href="https://www.nexclap.com/" class="inline-block bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded transition-colors duration-200">
            Open Project
        </a>
    </div>