{% extends "base.html" %}

{% block content %}

<section id="project-detail" class="py-20 sm:py-40">
    <div class="container mx-auto px-4 sm:px-6 md:px-8 lg:px-10 max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-7xl">
        <div class="flex flex-col lg:flex-row items-start gap-10 lg:gap-20">
            <div class="lg:flex-grow">
                <h2 class="text-5xl sm:text-6xl lg:text-7xl font-bold font-orbitron text-indigo-600 mt-0 mb-12">Python 2A Course: Data Structures & Algorithms</h2>
                <p class="sans-serif-font text-base md:text-xl mb-4">
                    On Nexclap.com, you'll find a course I've had the opportunity to contribute to extensively. It's focused on data structures and algorithms in Python. 
                    The course combines theoretical concepts with practical exercises, offering a thorough exploration of DSA. 
                    It's crafted for learners aiming to deepen their understanding and prepare for advanced computational challenges in this field.
                </p>
                <div class="mt-8 mb-6">
                    <a href="https://www.nexclap.com/courses/Python2A" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-3 pl-2 pr-4 rounded transition-colors duration-200" style="position: relative; left: -8px;"> <!-- Adjusts button position and padding -->
                        View Course (Subscription Required) →
                    </a>
                </div>
            </div>

            <div class="hidden lg:block self-start">
                <img src="{{ url_for('static', filename='img/nexclapMockup2.png') }}" alt="Python 2A Course" class="rounded-lg shadow-lg">
            </div>
        </div>

        <div class="w-full mt-10">
            <img src="{{ url_for('static', filename='img/Screenshot 2023-10-10 224922.png') }}" alt="Course Screenshot" class="rounded-lg shadow-lg mb-5" style="max-width: 100%; height: auto;">
            <img src="{{ url_for('static', filename='img/Screenshot 2023-10-10 224943.png') }}" alt="Course Screenshot" class="rounded-lg shadow-lg mb-5" style="max-width: 100%; height: auto;">
            <img src="{{ url_for('static', filename='img/Screenshot 2023-10-10 225127.png') }}" alt="Course Screenshot" class="rounded-lg shadow-lg mb-5" style="max-width: 100%; height: auto;">
        </div>
    </div>
</section>

{% endblock %}
