{% extends "base.html" %}

{% block content %}
<div id="content">
<div class="page-content-wrapper" style="padding-bottom: 100px; min-height: 100vh;">

    <section id="skills" class="pt-5 skills-section" style="padding-top: 100px;">
        <div class="container mx-auto px-10">
            <div class="text-center">
                <h2 class="text-4xl mb-4 font-orbitron text-indigo-600">My Skills</h2>
                <p class="text-gray-700">Here are some of the tech I'm proficient in:</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fab fa-python fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">Python</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fab fa-js fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">JavaScript</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fab fa-html5 fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">HTML/CSS</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fas fa-flask fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">Flask</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#4F46E5" width="3em" height="3em">
                        <title>TensorFlowJS</title>
                        <path d="M1.292 5.856L11.54 0v24l-4.095-2.378V7.603l-6.168 3.564.015-5.31zm21.43 5.311l-.014-5.31L12.46 0v24l4.095-2.378V14.87l3.092 1.788-.018-4.618-3.074-1.756V7.603l6.168 3.564z"/>
                    </svg>                    
                    <h3 class="font-orbitron text-xl text-gray-700">TensorFlowJS</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fab fa-angular fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">Angular</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <i class="fab fa-java fa-3x text-indigo-600 mb-1"></i>
                    <h3 class="font-orbitron text-xl text-gray-700">Java</h3>
                </div>
                <div class="skill-card flex flex-col items-center justify-center">
                    <svg id="icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#4F46E5" width="3em" height="3em">
                        <path id="icon" d="M93.19,329.38,140.64,25.31c1.64-10.37,15.55-12.82,20.46-3.55l51,95.45ZM432,400,385.26,123.21a11,11,0,0,0-18.54-6L80,400l159.36,91.91a33.18,33.18,0,0,0,31.91,0ZM302.36,158.93,265.82,89.39a10.86,10.86,0,0,0-19.36,0L85.83,375.74Z"/>
                    </svg>
                    <h3 class="font-orbitron text-xl text-gray-700">Firebase</h3>
                </div>                
            </div>
        </div>
    </section>
</div>
</div>
{% endblock %}
