{% extends "base.html" %}

{% block content %}

<section id="project-detail">
    <div class="container mx-auto max-w-7xl px-10 py-40">

        <div class="w-4/5 pr-10">
            <h2 class="text-5xl mb-12 font-orbitron text-indigo-600 bold-title">Introduction to APIs</h2>
            <p class="font-orbitron text-base mb-4">This educational module and guided project I created for my students offers a comprehensive exploration of RESTful APIs through engaging, hands-on applications in Python. 

                It covers the foundational principles of REST to practical implementations, like creating a simple Weather App with Python and a fun Cat Facts Generator. 
                </p>

            <a href="{{ url_for('static', filename='documentation_link_here.pdf') }}" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">
                View Documentation
            </a>
        </div>
    
        <div class="w-full pl-10 mt-20">
            <img src="{{ url_for('static', filename='Screenshot 2023-10-10 231216.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5">
            <img src="{{ url_for('static', filename='Screenshot 2023-10-10 231207.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5">
        </div>
    </div>
</section>

{% endblock %}

