{% extends "base.html" %}

{% block content %}

<section id="project-detail">
    <div class="container mx-auto max-w-7xl px-10 py-40">

        <div class="w-4/5 pr-10">
            <h2 class="text-5xl mb-12 font-orbitron text-indigo-600 bold-title">Yatsys</h2>
            <p class="font-orbitron text-base mb-4">On Nexclap.com, you'll find a course I've had the opportunity to contribute to extensively. It's focused on data structures and algorithms in Python. The course combines theoretical concepts with practical exercises, offering a thorough exploration of DSA. It's crafted for learners aiming to deepen their understanding and prepare for advanced computational challenges in this field</p>

            <a href="https://www.nexclap.com/courses/Python2A" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">
                View Demo
            </a>
        </div>
    
        <div class="w-full pl-10 mt-20">
            <img src="{{ url_for('static', filename='Screenshot 2023-10-10 224922.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5">
            <img src="{{ url_for('static', filename='Screenshot 2023-10-10 224943.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5">
            <img src="{{ url_for('static', filename='Screenshot 2023-10-10 225127.png') }}" alt="Project Screenshot" class="rounded-lg shadow-lg mb-5">
        </div>
    </div>
</section>

{% endblock %}
